<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<connectionStrings><add name="YogiSabhaGruhEntities" connectionString="metadata=res://*/db.csdl|res://*/db.ssdl|res://*/db.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Bhavesh-PC;initial catalog=YogiSabhaGruh;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
